@import resources._
@nav(titlePage = "Punto de Venta"){
<div class="row center">            
	<h2 id="name-POS-title"></h2>    
	<form id="POS-form" class="form-horizontal">
		<fieldset class="col-md-6">
			<legend>Datos de Punto de Venta</legend>
			<div class="col-md-12">
				<div class="form-group has-feedback">
					<input type="text" class="form-control input-lg" name="name-POS" data-required="true" placeholder="Nombre Punto de Venta">
					<span class="form-control-feedback"></span>
					<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group has-feedback">
					<input type="text" class="form-control input-lg" name="name-contact" data-required="true" placeholder="Nombre Contacto">
					<span class="form-control-feedback"></span>
					<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group has-feedback">
					<input type="text" class="form-control input-lg" name="phone-pos" data-required="true" placeholder="Teléfono">
					<span class="form-control-feedback"></span>
					<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group has-feedback">
					<input type="text" class="form-control input-lg" name="extension-phone-pos" data-required="true" placeholder="Extención Teléfono">
					<span class="form-control-feedback"></span>
					<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group has-feedback">
					<input type="text" class="form-control input-lg" name="mobile-phone-pos" data-required="true" placeholder="Celular">
					<span class="form-control-feedback"></span>
					<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group has-feedback">
					<input type="text" class="form-control input-lg" name="address-pos" data-required="true" placeholder="Dirección">
					<span class="form-control-feedback"></span>
					<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<a href="http://www.coordenadas-gps.com/" target="_blank">Obtener coordenadas aquí</a>
				</div>
			</div>
			<div class="col-md-12">				
				<div class="form-group has-feedback">
					<input type="text" class="form-control input-lg" name="longitude-address-pos" data-required="true" placeholder="longitude">
					<span class="form-control-feedback"></span>
					<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group has-feedback">
					<input type="text" class="form-control input-lg" name="latitude-address-pos" data-required="true" placeholder="Latitud">
					<span class="form-control-feedback"></span>
					<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
				</div>
			</div>
			<div class="col-md-12 ">
				<div class="form-group">
					<button id="POSBtn" type="submit" class="btn btn-success btn-lg btn-block">Guardar
						<i id="POS-btn-ico"></i></button>
					</div>
				</div>    
			</fieldset>
			<input type="hidden" id="id-POS" name="id-POS" value="0">
			<input type="hidden" id="id-contact" name="id-contact" value="0">
			<input type="hidden" id="id-phone-pos" name="id-phone-pos" value="0">    
			<input type="hidden" id="id-address-pos" name="id-address-pos" value="0">    
			<input type="hidden" id="id-location-pos" name="id-location-pos" value="0">   
			<input type="hidden" id="id-geolocation-pos" name="id-geolocation-pos" value="0">     
		</form>
	}


	<script>
//atributes
var typePOSView = sessionStorage.getItem('type-POS-view');
var namePOSTitle = document.getElementById('name-POS-title');
//forms
var POSForm = new Form(document.getElementById('POS-form'));
//buttonss
var POSBtn = document.getElementById('POSBtn');
 if(typePOSView>0){//Adminstrar pos
    //load data
    loadPOS(); 
 }else{//Crear pos 	
 	namePOSTitle.textContent = 'Crear Punto de Venta';
    //remove sessionStorage
    sessionStorage.removeItem('type-POS-view');
}
//form POS
POSForm.onsubmit(function(){
	if(POSForm.isValid()){
		var POSxHR = new XHR('POST','/savePOS');
		POSxHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
		POSxHR.onBeforeSend(function(){
			POSBtn.disabled = true;
			document.getElementById('POS-btn-ico').className = 'fa fa-spinner fa-spin';
		});
		POSxHR.onReady(function (xhr) {   
			POSBtn.disabled = false;
			document.getElementById('POS-btn-ico').className = '';	
			try {
						var POS = JSON.parse(xhr.responseText);
						typePOSView = POS.id;	;
						namePOSTitle.textContent = POS.name;
					    //fill ids			
					    document.getElementsByName('id-POS')[0].value = POS.id;					
					    document.getElementsByName('id-contact')[0].value = POS.contact.id;					
					    document.getElementsByName('id-phone-pos')[0].value = POS.location.phone.id;					
					    document.getElementsByName('id-address-pos')[0].value = POS.location.address.id;					
					    document.getElementsByName('id-location-pos')[0].value = POS.location.id;					
					    document.getElementsByName('id-geolocation-pos')[0].value = POS.location.address.geolocation.id;	
					    notification.success('El punto de venta se guardo exitosamente!');				
					} catch (e) {						
						notification.danger(xhr.responseText);
					}
				});
		POSxHR.send(POSForm.serialize());
	}
});
//load POS
function loadPOS(){
    //load data
    var loadPOSxHR = new XHR('GET','/loadPOS?id='+typePOSView);
    loadPOSxHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
    loadPOSxHR.onBeforeSend(function(){
    	namePOSTitle.textContent = 'Cargando datos del Punto de Venta';
    });
    loadPOSxHR.onReady(function (xhr) {       	
    	var POS = JSON.parse(xhr.responseText);
    	namePOSTitle.textContent = POS.name;

    	document.getElementsByName('name-POS')[0].value =  POS.name;
    	document.getElementsByName('name-contact')[0].value = POS.contact.name;
    	document.getElementsByName('phone-pos')[0].value =  POS.location.phone.number;
    	document.getElementsByName('extension-phone-pos')[0].value = POS.location.phone.extension;
    	document.getElementsByName('mobile-phone-pos')[0].value = POS.location.phone.mobile;
    	document.getElementsByName('address-pos')[0].value = POS.location.address.address;
    	document.getElementsByName('longitude-address-pos')[0].value = POS.location.address.geolocation.longitude;
    	document.getElementsByName('latitude-address-pos')[0].value = POS.location.address.geolocation.latitude;
    	document.getElementsByName('id-POS')[0].value = POS.id;
    	document.getElementsByName('id-contact')[0].value = POS.contact.id;
    	document.getElementsByName('id-phone-pos')[0].value = POS.location.phone.id;
    	document.getElementsByName('id-address-pos')[0].value = POS.location.address.id;
    	document.getElementsByName('id-location-pos')[0].value = POS.location.id;
    	document.getElementsByName('id-geolocation-pos')[0].value = POS.location.address.geolocation.id;

    });
loadPOSxHR.send();
}

</script>