@import resources._
@nav(titlePage = "POS"){

<div  class="row">
		<div class="col-md-12">
		<p><a  class="pull-right"href="/POS" onclick="newPOS()">Nuevo punto de venta</a></p>
	</div>
</div>
<div class="row">

	<div class="col-md-12">
		<div class="page-header">
		  <h2 >Puntos de venta</h2>    
		</div>		
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a id="dataPOSList" href="/POS" onclick="newPOS()">No hay puntos de ventas, clic para comenzar</a>
	</div>
</div>

<div class="row">


	<div class="col-md-2">
		<div class="cover-content">
			<div class="cover-header">
				<p >Belen</p>
			</div>
			<div class="cover-body">				
				<ul style="list-style: outside none none; margin: 0px; padding: 0.2em;">
					<li>CR 45 CL 27 # 45,Medellin Colombia</li>
					<li>5890623 </li>
					<li>Steve jobs</li>	
				</ul>                     
			</div>
			<div class="cover-footer"><a href="#">Administrar</a></div>     
		</div> 
	</div>

	<div class="col-md-2">
		<div class="cover-content">
			<div class="cover-header">
				<p >Belen</p>
			</div>
			<div class="cover-body">				
				<ul style="list-style: outside none none; margin: 0px; padding: 0.2em;">
					<li>CR 45 CL 27 # 45,Medellin Colombia</li>
					<li>5890623 </li>
					<li>Steve jobs</li>	
				</ul>                     
			</div>
			<div class="cover-footer"><a href="#">Administrar</a></div>     
		</div> 
	</div>
	<div class="col-md-2">
		<div class="cover-content">
			<div class="cover-header">
				<p >Belen</p>
			</div>
			<div class="cover-body">				
				<ul style="list-style: outside none none; margin: 0px; padding: 0.2em;">
					<li>CR 45 CL 27 # 45,Medellin Colombia</li>
					<li>5890623 </li>
					<li>Steve jobs</li>	
				</ul>                     
			</div>
			<div class="cover-footer"><a href="#">Administrar</a></div>     
		</div> 
	</div>
	<div class="col-md-2">
		<div class="cover-content">
			<div class="cover-header">
				<p >Belen</p>
			</div>
			<div class="cover-body">				
				<ul style="list-style: outside none none; margin: 0px; padding: 0.2em;">
					<li>CR 45 CL 27 # 45,Medellin Colombia</li>
					<li>5890623 </li>
					<li>Steve jobs</li>	
				</ul>                     
			</div>
			<div class="cover-footer"><a href="#">Administrar</a></div>     
		</div> 
	</div>
	<div class="col-md-2">
		<div class="cover-content">
			<div class="cover-header">
				<p >Belen</p>
			</div>
			<div class="cover-body">				
				<ul style="list-style: outside none none; margin: 0px; padding: 0.2em;">
					<li>CR 45 CL 27 # 45,Medellin Colombia</li>
					<li>5890623 </li>
					<li>Steve jobs</li>	
				</ul>                     
			</div>
			<div class="cover-footer"><a href="#">Administrar</a></div>     
		</div> 
	</div>
	<div class="col-md-2">
		<div class="cover-content">
			<div class="cover-header">
				<p >Belen</p>
			</div>
			<div class="cover-body">				
				<ul style="list-style: outside none none; margin: 0px; padding: 0.2em;">
					<li>CR 45 CL 27 # 45,Medellin Colombia</li>
					<li>5890623 </li>
					<li>Steve jobs</li>	
				</ul>                     
			</div>
			<div class="cover-footer"><a href="#">Administrar</a></div>     
		</div> 
	</div>
	<div class="col-md-2">
		<div class="cover-content">
			<div class="cover-header">
				<p >Belen</p>
			</div>
			<div class="cover-body">				
				<ul style="list-style: outside none none; margin: 0px; padding: 0.2em;">
					<li>CR 45 CL 27 # 45,Medellin Colombia</li>
					<li>5890623 </li>
					<li>Steve jobs</li>	
				</ul>                     
			</div>
			<div class="cover-footer"><a href="#">Administrar</a></div>     
		</div> 
	</div>
</div>





<!-- <div class="row">
	<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h4>BELEN </h4>					         
			</div>
			<div class="panel-body">							
				<ul class="list-group">
					<li class="list-group-item">CR 45 CL 27 # 45,Medellin Colombia</li>
					<li class="list-group-item">5890623 </li>
					<li class="list-group-item">Steve jobs</li>	
				</ul>
				<button class="btn btn-default">Administrar</button>
			</div>
		</div>					
	</div>



		<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h4>BELEN </h4>					         
			</div>
			<div class="panel-body">							
				<ul class="list-group">
					<li class="list-group-item">CR 45 CL 27 # 45,Medellin Colombia</li>
					<li class="list-group-item">5890623 </li>
					<li class="list-group-item">Steve jobs</li>	
				</ul>
				<button class="btn btn-default">Administrar</button>
			</div>
		</div>					
	</div>



		<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h4>BELEN </h4>					         
			</div>
			<div class="panel-body">							
				<ul class="list-group">
					<li class="list-group-item">CR 45 CL 27 # 45,Medellin Colombia</li>
					<li class="list-group-item">5890623 </li>
					<li class="list-group-item">Steve jobs</li>	
				</ul>
				<button class="btn btn-default">Administrar</button>
			</div>
		</div>					
	</div>



		<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h4>BELEN </h4>					         
			</div>
			<div class="panel-body">							
				<ul class="list-group">
					<li class="list-group-item">CR 45 CL 27 # 45,Medellin Colombia</li>
					<li class="list-group-item">5890623 </li>
					<li class="list-group-item">Steve jobs</li>	
				</ul>
				<button class="btn btn-default">Administrar</button>
			</div>
		</div>					
	</div>



		<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h4>BELEN </h4>					         
			</div>
			<div class="panel-body">							
				<ul class="list-group">
					<li class="list-group-item">CR 45 CL 27 # 45,Medellin Colombia</li>
					<li class="list-group-item">5890623 </li>
					<li class="list-group-item">Steve jobs</li>	
				</ul>
				<button class="btn btn-default">Administrar</button>
			</div>
		</div>					
	</div>



		<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h4>BELEN </h4>					         
			</div>
			<div class="panel-body">							
				<ul class="list-group">
					<li class="list-group-item">CR 45 CL 27 # 45,Medellin Colombia</li>
					<li class="list-group-item">5890623 </li>
					<li class="list-group-item">Steve jobs</li>	
				</ul>
				<button class="btn btn-default">Administrar</button>
			</div>
		</div>					
	</div>



		<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h4>BELEN </h4>					         
			</div>
			<div class="panel-body">							
				<ul class="list-group">
					<li class="list-group-item">CR 45 CL 27 # 45,Medellin Colombia</li>
					<li class="list-group-item">5890623 </li>
					<li class="list-group-item">Steve jobs</li>	
				</ul>
				<button class="btn btn-default">Administrar</button>
			</div>
		</div>					
	</div>



		<div class="col-md-3">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h4>BELEN </h4>					         
			</div>
			<div class="panel-body">							
				<ul class="list-group">
					<li class="list-group-item">CR 45 CL 27 # 45,Medellin Colombia</li>
					<li class="list-group-item">5890623 </li>
					<li class="list-group-item">Steve jobs</li>	
				</ul>
				<button class="btn btn-default">Administrar</button>
			</div>
		</div>					
	</div>



	
</div> -->


<script>
  //loadPosByBusiness
  loadPosByBusiness();
  //functions
  function loadPosByBusiness(){
  	var POSByBusinessXHR = new XHR('GET','/loadPOSByBusiness');
  	POSByBusinessXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
  	POSByBusinessXHR.onBeforeSend(function(){
  		//POSBtn.disabled = true;
  		//document.getElementById('POS-btn-ico').className = 'fa fa-spinner fa-spin';
  	});
  	POSByBusinessXHR.onReady(function (xhr) {   
/*  		POSBtn.disabled = false;
  		document.getElementById('POS-btn-ico').className = '';		                             
  		notification.success('El punto de venta se guardo exitosamente!');
  		if(typePOSView == 0){ //si el punto de venta es nuevo*/
  			try {
  				var POS = JSON.parse(xhr.responseText);
  				console.log(POS);

  			} catch (e) {						
  				document.getElementById('dataPOSList').textContent = xhr.responseText;
  			}
  			/*	}*/	

  		});
  	POSByBusinessXHR.send();
  }
  </script>
}