@import resources._
@nav(titlePage = "POS"){

<div  class="row">
	<div class="col-md-12">
		<p><a  class="pull-right"href="/POS" onclick="newPOS()">Nuevo punto de venta</a></p>
	</div>
</div>
<div class="row">

	<div class="col-md-12">
		<div class="page-header">
			<h2 >Puntos de venta</h2>    
		</div>		
	</div>
</div>
<div class="row" id="cover-pos">
	<a href="/POS" onclick="newPOS()">No hay puntos de ventas, clic para comenzar</a>
</div>
<script>
  //loadPosByBusiness
  loadPosByBusiness();
  //functions
  function loadPosByBusiness(){
  	var POSByBusinessXHR = new XHR('GET','/loadPOSByBusiness');
  	POSByBusinessXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
  	POSByBusinessXHR.onBeforeSend(function(){
  		//POSBtn.disabled = true;
  		//document.getElementById('POS-btn-ico').className = 'fa fa-spinner fa-spin';
  	});
  	POSByBusinessXHR.onReady(function (xhr) {   
/*  		POSBtn.disabled = false;
  		document.getElementById('POS-btn-ico').className = '';		                             
  		notification.success('El punto de venta se guardo exitosamente!');
  		if(typePOSView == 0){ //si el punto de venta es nuevo*/
  			var cover = document.getElementById('cover-pos');

  			try {
  				var POS = JSON.parse(xhr.responseText);
  				console.log(POS)
  				var n = POS.length;
  				cover.innerHTML = '';
  				for (var i = 0; i <n; i++) {
  					var p = POS[i];
  					var data = new Array();
  					data[0] = p.location.address.address;
  					data[1] = p.location.phone.number;
  					data[2] = p.contact.name;
  					new coverPOS(cover,p.id,p.name,data);
  				}
  			} catch (e) {						
  				cover.innerHTML = '<a href="/POS" onclick="newPOS()">No hay puntos de ventas, clic para comenzar</a>';
  			}
  		});
  	POSByBusinessXHR.send();

  }

  </script>
}
}