
.bg-landing-page{	  
    background-attachment: fixed;
    background-image: url("../images/home/megitf_lp.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    
}
.bg-overlay{
    background-color: rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 100%;
}

.logo img {
    border: medium none;
    height: 10%;
    padding: 1em;
    width: 10%;
}
.text-landing-page{	
    color: white;
    font-family: "Arial Black",Verdana,sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.text-landing-page-small{
    font-size: 2em;	
}
.center{
	display: table;
    margin-left: auto;
    margin-right: auto;
}

.form-control-lg,.btn-lg{
	font-size: 18px;
	height: 60px;
	line-height: 30px;
	padding: 15px 25px;
}

#main-text{
	padding-top: 7em;	
}
#main-text p{
	text-shadow: -2px -2px 1px #000,2px -2px 1px #000,-2px 2px 1px #000,2px 2px 1px #000;
}

#frm-register{
	padding-top: 2em;
}
#frm-register input,#frm-social-media button{
	margin-right: 3px;
}

#counter-users,#frm-social-media{
	padding-top: 1em;
}



