@import resources._
@nav(titlePage = "Regalo"){
<div class="row center">            
	<h2 id="name-gift-title"></h2>   	
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-6">
				<form id="picture-gift-form" class="form-horizontal form-picture">
					<div class="form-group">
						<div class="col-md-12">
							<ul class="list-group text-center">
								<li id="content-img-gift" class="list-group-item content-img">
									<img src="@routes.Assets.at("images/gift/gift.png")"/>
								</li>
								<li >
									<button id="picture-gift-upload" class="btn list-group-item" ><i class="fa fa-upload fa-fw"></i>&nbsp; Imagen de regalo</button>
								</li>
							</ul>
						</div>
					</div>
					<input type="file" accept="image/*" id="picture-gift-select" name="picture" class="hidden" />
				</form>
			</div>
			<div class="col-md-6">
				<form id="picture-action-form" class="form-horizontal form-picture">
					<div class="form-group">
						<div class="col-md-12">
							<ul class="list-group text-center">
								<li id="content-img-action" class="list-group-item content-img">
									<img src="@routes.Assets.at("images/gift/action.png")"/>
								</li>
								<li >
									<button id="picture-action-upload" class="btn list-group-item" href="#picture-action-upload"><i class="fa fa-upload fa-fw"></i>&nbsp; Imagen de la acción</button>
								</li>
							</ul>
						</div>
					</div>
					<input type="file" accept="image/*" id="picture-action-select" name="picture" class="hidden" />
				</form>
			</div>
		</div>
		<div class="row">
			<form id="gift-form" class="form-horizontal">
				<fieldset class="col-md-6">
					<legend>Datos del regalo</legend>			
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="name-gift"  data-required="true" placeholder="Nombre regalo">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback"> 
							<div id="gift-type-list" data-required="true" data-name="gift-type" class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div id="other-gift-type" class="col-md-12 hidden">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="other-gift-type"  placeholder="Cual ?">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="price-gift"  data-required="true" data-money="true" placeholder="Valor Comercial">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="start-date-gift" data-required="true" data-date="dd-mm-yyyy" placeholder="Fecha inicio (dd-mm-yyyy)">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="end-date-gift" data-required="true" data-date="dd-mm-yyyy" placeholder="Fecha finalización (dd-mm-yyyy)">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<textarea name="description-gift" class="form-control" rows="4" placeholder="Descripción del regalo" data-required="true"></textarea>
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback"> 
							<div id="gift-status-list" data-name="gift-status" data-required="true"  class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>					
					<div  class="col-md-12">
						<div class="form-group"> 
							<button class="btn btn-default btn-block btn-lg" id="terms-and-conditions" href="#terms-and-conditions">
								<i class="fa fa-plus fa-fw"></i>&nbsp; Terminos y condiciones
							</button>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback"> 
							<div id="gift-status-list" data-required="true" data-name="gift-status" class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
				</fieldset>
				<fieldset class="col-md-6">
					<legend>Datos de la acción</legend>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="name-action"  data-required="true" placeholder="Nombre Acción">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback"> 
							<div id="action-type-list" data-required="true" data-name="action-type" class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div id="other-action-type" class="col-md-12 hidden">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="other-action-type"  placeholder="Cual ?">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="price-action"  data-required="true" data-money="true" placeholder="Valor Comercial">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<textarea name="description-action" class="form-control" rows="4" placeholder="Descripción de la acción" data-required="true"></textarea>
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
				</fieldset>
				<div class="col-md-12 ">
					<div class="form-group">
						<button id="gift-Btn" type="submit" class="btn btn-success btn-lg btn-block">Guardar
							<i id="gift-btn-ico"></i></button>
						</div>
					</div>    
					<input type="hidden" id="id-gift" name="id-gift"  value="0">
					<input type="hidden" id="id-action" name="id-action" value="0">
					<input type="hidden" id="id-pos-list" name="id-pos-list" value="0">
				</form>
			</div>
		</div>
		<div class="col-md-5">
			<div class="page-header">
				<h2>Puntos de venta</h2>    
			</div>		
			<div class="row" id="cover-pos">
				<a href="/POS" onclick="newPOS()">No hay puntos de ventas, clic para comenzar</a>
			</div>
		</div>
	</div>

}


<script>
//atributes
var typeGiftView = sessionStorage.getItem('type-gift-view');
var nameGiftitle = document.getElementById('name-gift-title');
var idPOSList = new Array();

//forms
var giftForm = new Form(document.getElementById('gift-form'));
//buttonss
var giftBtn = document.getElementById('gift-Btn');

 if(typeGiftView>0){//Adminstrar gift
    //load data
    //loadPOS(); 

    //add events for images, pos and terms and conditions

 }else{//Crear gift 	
 	nameGiftitle.textContent = 'Crear Regalo';
    //remove sessionStorage
    sessionStorage.removeItem('type-gift-view');
    //disabled controls
    document.getElementById('picture-gift-upload').disabled = true;
    document.getElementById('picture-action-upload').disabled = true;
    document.getElementById('terms-and-conditions').disabled = true;

}
//load pos by business
loadPosByBusiness();
function loadPosByBusiness(){
	var cover = document.getElementById('cover-pos');
	var POSByBusinessXHR = new XHR('GET','/loadPOSByBusiness');
	POSByBusinessXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
	POSByBusinessXHR.onBeforeSend(function(){
		cover.innerHTML = '<i class="fa fa-spinner fa-spin"></i>  Cargando...';
	});
	POSByBusinessXHR.onReady(function (xhr) {   
		try {
			var POS = JSON.parse(xhr.responseText);  				
			var n = POS.length;
			cover.innerHTML = '';  
			coverPOS(cover,POS);
		} catch (e) {						
			cover.innerHTML = '<a href="/POS" onclick="newPOS()">No hay puntos de ventas, clic para comenzar</a>';
		}
	});
	POSByBusinessXHR.send();

}
/**
*  Cuando se va a crear un regalo se debe selecionar un punto de venta como minimo.
* Cuenda el regalo ya existe no es necesario tener un punto de venta asociado al regalo
y se agregar a los puntos de ventas el evento de poder ir y guardar y borrar su asociacion.
* 
*/
giftForm.onsubmit(function(){
	if(giftForm.isValid()){
		if(idPOSList.length >0){
			var giftXHR = new XHR('POST','/saveGift');
			giftXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
			giftXHR.onBeforeSend(function(){
				giftBtn.disabled = true;
				document.getElementById('gift-btn-ico').className = 'fa fa-spinner fa-spin';
				//disbled covers pOS
				coverPosDisabled(true);
			});
			giftXHR.onReady(function (xhr) {   
				/*
				* Enabled controls 
				**/
				giftBtn.disabled = false;				
				coverPosDisabled(false);
				giftStatus.setDisabled(false);
				document.getElementById('terms-and-conditions').disabled = false;
				document.getElementById('picture-gift-upload').disabled = false;
				document.getElementById('picture-action-upload').disabled = false;

				document.getElementById('gift-btn-ico').className = '';	
				try {
					var gift = JSON.parse(xhr.responseText);
					console.log(gift);
					//si es nuevo
					if(typeGiftView === 0){
   					    //fill ids			
   					    document.getElementsByName('id-action')[0].value = gift.action.id;
   					    document.getElementsByName('id-gift')[0].value = gift.id
                        /**
                        * Llenar los id con la relacion entre regalasy puntos de venta.
                         * para que pueden tener el evento directo
                         */
                         var giftPOSList = gift.giftPOSList;
                         var n = giftPOSList.length;
                         for (var i = 0; i < n; i++) {
                         	var giftPos = giftPOSList[i];                       
                         	var coverButtons = document.getElementsByClassName('cover-buttons') ;
                         	var m = coverButtons.length;
                         	var foundCover = false;
                         	var j=0;
                         	do{
                         		j++;
                         		var c = coverButtons[j];
                         		foundCover = c.dataset.idPos == giftPos.pos.id;
                         		if(foundCover){
                         			c.dataset.idGiftPos = giftPos.id;
                         		}
                         	} while(!foundCover && j<m)
                         };
                         typeGiftView = gift.id;
                         nameGiftitle.textContent = gift.name;
                     }
                     notification.success('El regalo se guardo exitosamente!');				
                 } catch (ex) {	            
                 console.log(ex)        	;
                 	notification.danger(xhr.responseText);
                 }
             });
giftXHR.send(giftForm.serialize());
}else{
	notification.danger('Seleccione como minimo un punto de venta');
}
}
});
//load POS
function loadPOS(){
    //load data
    var loadgiftXHR = new XHR('GET','/loadPOS?id='+typeGiftView);
    loadgiftXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
    loadgiftXHR.onBeforeSend(function(){
    	nameGiftitle.textContent = 'Cargando datos del Punto de Venta';
    });
    loadgiftXHR.onReady(function (xhr) {       	
    	var POS = JSON.parse(xhr.responseText);
    	nameGiftitle.textContent = POS.name;

    	document.getElementsByName('name-POS')[0].value =  POS.name;
    	document.getElementsByName('name-contact')[0].value = POS.contact.name;
    	document.getElementsByName('phone-pos')[0].value =  POS.location.phone.number;
    	document.getElementsByName('extension-phone-pos')[0].value = POS.location.phone.extension;
    	document.getElementsByName('mobile-phone-pos')[0].value = POS.location.phone.mobile;
    	document.getElementsByName('address-pos')[0].value = POS.location.address.address;
    	document.getElementsByName('longitude-address-pos')[0].value = POS.location.address.geolocation.longitude;
    	document.getElementsByName('latitude-address-pos')[0].value = POS.location.address.geolocation.latitude;
    	document.getElementsByName('id-POS')[0].value = POS.id;
    	document.getElementsByName('id-contact')[0].value = POS.contact.id;
    	document.getElementsByName('id-phone-pos')[0].value = POS.location.phone.id;
    	document.getElementsByName('id-address-pos')[0].value = POS.location.address.id;
    	document.getElementsByName('id-location-pos')[0].value = POS.location.id;
    	document.getElementsByName('id-geolocation-pos')[0].value = POS.location.address.geolocation.id;

    });
loadgiftXHR.send();
}

//cover pos
function coverPOS(element,POS){
	var n = POS.length;
	for (var i = 0; i < n; i++) {
		var p = POS[i];
     //col
     var col = document.createElement('div');
     col.classList.add('col-lg-6');
     col.classList.add('col-md-6');
     col.classList.add('col-sm-4');
     //content
     var content = document.createElement('div');
     content.classList.add('cover-content');    
    //header
    var header = document.createElement('div')  ;
    header.classList.add('cover-header');
    var icon = document.createElement('i');
    icon.classList.add('fa');
    icon.classList.add('fa-gift');
    icon.classList.add('fa-fw');     
    icon.classList.add('hidden');  
    icon.id= p.id;   
    header.appendChild(icon); 
    var title = document.createElement('span');
    title.textContent = p.name;   
    header.appendChild(title);  

     //body
     var body = document.createElement('div');
     body.classList.add('cover-body');
     var ul = document.createElement('ul');   
     var li = document.createElement('li');
     li.textContent = p.location.address.address;
     ul.appendChild(li);
     li = document.createElement('li');
     li.textContent = p.location.phone.number;
     ul.appendChild(li);
     li = document.createElement('li');
     li.textContent = p.contact.name;
     ul.appendChild(li);
     body.appendChild(ul); 
    //footer
    var footer = document.createElement('div');
    footer.classList.add('cover-footer');
    footer.classList.add('cover-add-gift');
    var button = document.createElement('button');
    button.classList.add('cover-buttons'); 
    button.classList.add('btn');    
    button.dataset.idPos = p.id;   
    button.onclick = function(){      	
    	var parent =this.parentNode;
    	if(parent.classList.contains('cover-add-gift')){
    		parent.classList.remove('cover-add-gift');
    		parent.classList.add('cover-remove-gift');
    		this.getElementsByClassName('cover-text-content')[0].textContent ='Remover regalo';
    		document.getElementById(this.dataset.idPos).classList.remove('hidden');
    		idPOSList.push(this.dataset.idPos);
    	}else{
    		parent.classList.remove('cover-remove-gift');
    		parent.classList.add('cover-add-gift');
    		this.getElementsByClassName('cover-text-content')[0].textContent ='Asociar regalo';
    		document.getElementById(this.dataset.idPos).classList.add('hidden');
    		var index = idPOSList.indexOf(this.dataset.idPos);
    		if(index >-1){
    			idPOSList.splice(index,1);
    		}    		
    	}
    	document.getElementById('id-pos-list').value = idPOSList.join();
    }

    var span = document.createElement('span');
    span.classList.add('cover-text-content');
    span.textContent='Asociar regalo';
    button.appendChild(span);     
    footer.appendChild(button);
    //appends
    content.appendChild(header);
    content.appendChild(body);
    content.appendChild(footer);      
    col.appendChild(content);
    element.appendChild(col);
};
}
function coverPosDisabled(disabled){
	var coverButtons = document.getElementsByClassName('cover-buttons') ;
	var n = coverButtons.length;
	for (var i = 0; i < n; i++) {
		var c = coverButtons[i];
		c.disabled = disabled;
	};
}

</script>