@import resources._
@nav(titlePage = "Regalo"){
<div class="row row-centered">  
	<div class="row">
		<div class="col-md-12 ">				
			<div class="btn-group btn-group-lg pull-right" >
				<button class="btn btn-default btn-lg" id="associate-pos-btn">
					<i id="associate-pos-btn-icon" class="fa fa-cart-plus fa-fw"></i>&nbsp; Agregar a puntos de venta
				</button>
			</div>
		</div>
	</div>
	<div class="page-header">
		<h2 class="text-left" id="name-gift-title"></h2> 	  
	</div>	
	<div class="col-md-9 col-centered">
        
        <div class="row">
        	<div class="col-md-12 text-center">        		
        		<small> Los campos con <span class="text-danger">*</span> son obligatorios</small> <br/>
        		<small> Recomendamos imagenes de 380px de ancho X 190px de alto</small> <br/>
        	</div>
        </div>
		<div class="row">			
			<div class="col-md-6">
				<form id="picture-gift-form" class="form-horizontal form-picture">
					<div class="form-group">
						<div class="col-md-12">
							<ul class="list-group text-center">
								<li id="content-img-gift" class="list-group-item content-img">
									<img id="picture-gift-img" src="@routes.Assets.at("images/gift/gift.png")"/>
								</li>
								<li >
									<button id="picture-gift-upload" class="btn list-group-item" ><i id="picture-gift-icon" class="fa fa-upload fa-fw"></i>&nbsp; Imagen de regalo</button>
								</li>
							</ul>
						</div>
					</div>
					<input type="file" accept="image/*" id="picture-gift-select" name="picture" class="hidden" />
					<input type="hidden" name="id-picture-gift" value="0">
				</form>
			</div>
			<div class="col-md-6">
				<form id="picture-action-form" class="form-horizontal form-picture">
					<div class="form-group">
						<div class="col-md-12">
							<ul class="list-group text-center">
								<li id="content-img-action" class="list-group-item content-img">
									<img id="picture-action-img" src="@routes.Assets.at("images/gift/action.png")"/>
								</li>
								<li >
									<button id="picture-action-upload" class="btn list-group-item" ><i id="picture-action-icon" class="fa fa-upload fa-fw"></i>&nbsp; Imagen de la acci贸n</button>
								</li>
							</ul>
						</div>
					</div>
					<input type="file" accept="image/*" id="picture-action-select" name="picture" class="hidden" />
					<input type="hidden"  name="id-picture-action" value="0">
				</form>
			</div>
		</div>
		<div class="row">
			<form id="gift-form" class="form-horizontal">
				<fieldset class="col-md-6">
					<legend>Datos del regalo</legend>			
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="name-gift"  data-required="true" placeholder="Nombre regalo">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback"> 
							<div id="gift-type-list" data-required="true" data-name="gift-type" class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div id="other-gift-type" class="col-md-12 hidden">						
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="other-gift-type"  placeholder="Cual ?">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="price-gift"  data-required="true" data-money="true" placeholder="Valor Comercial">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="start-date-gift" data-required="true" data-date="dd-mm-yyyy" placeholder="Fecha inicio (dd-mm-yyyy)">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="end-date-gift" data-required="true" data-date="dd-mm-yyyy" placeholder="Fecha finalizaci贸n (dd-mm-yyyy)">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback">
							<textarea name="description-gift" class="form-control" rows="4" placeholder="Descripci贸n del regalo" data-required="true"></textarea>
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback">
							<textarea name="termsConditions-gift" class="form-control" rows="4" placeholder="Terminos y condiciones del regalo" data-required="true"></textarea>
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback"> 
							<div id="gift-status-list" data-name="gift-status" data-required="true"  class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>

				</fieldset>
				<fieldset class="col-md-6">
					<legend>Datos de la acci贸n</legend>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="name-action"  data-required="true" placeholder="Nombre Acci贸n">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback"> 
							<div id="action-type-list" data-required="true" data-name="action-type" class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div id="other-action-type" class="col-md-12 hidden">						
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="other-action-type"  placeholder="Cual ?">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="price-action"  data-required="true" data-money="true" placeholder="Valor Comercial">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<span class="text-danger">*</span>
						<div class="form-group has-feedback">
							<textarea name="description-action" class="form-control" rows="4" placeholder="Descripci贸n de la acci贸n" data-required="true"></textarea>
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
				</fieldset>
				<div class="col-md-12 ">
					<div class="form-group">
						<button id="gift-Btn" type="submit" class="btn btn-success btn-lg btn-block">Guardar
							<i id="gift-btn-ico"></i></button>
						</div>
					</div>    
					<input type="hidden" id="id-gift" name="id-gift"  value="0">
					<input type="hidden" id="id-action" name="id-action" value="0">					
				</form>
			</div>
		</div>
	</div>
	
	<div  id="create-gift-popup" class="i-popup-panel i-popup-primary hidden">   			
		<h2 >Crear regalo</h2>    
		<p>Para empezar debes seleccionar m铆nimo un punto de venta para ofrecer el regalo.</p>								
		<div>
			<form id="create-gift-form" class="form-horizontal">
					<fieldset>
						<legend>Puntos de venta</legend>						
						<div id="cover-check-pos" class="i-group-checkbox has-feedback" data-checkmin="1"></div>
					</fieldset>
					<div class="pull-right">				
						 <button id="create-gift-btn" type="submit" class="btn btn-primary btn-lg">Continuar
							<i id="create-gift-btn-ico"></i>
						</button>
						<a  class="btn btn-default btn-lg " href="/giftList">Cancelar</a>
					</div>				    
				</form>
			</div>
		</div>
		<div  id="terms-and-conditions-popup" class="i-popup-panel i-popup-primary hidden">   					
			<div class="row center">
				<div class="col-md-12">
					<div id="terms-and-condition-notification"></div>
				</div>
			</div>
			<form id="terms-and-conditions-form" class="form-horizontal">
				<fieldset>
					<legend>Terminos y condiciones para el regalo</legend>
					<div class="row">
						<div class="col-md-12 margin-bottom-1em">
							<button id="add-term-and-condition-btn" type="button" class="btn btn-default pull-right" onclick="addTermAndCondition(0)">
								<i class="fa fa-plus-circle"></i>
								&nbsp;Agregar termino y condici贸n
							</button>		
						</div>		
					</div>
					<div class="row">
						<div id="content-terms-and-conditions" class="col-md-12">
							<h4>No hay terminos y condiciones para este regalo. Desea agregar uno ?</h4>
							<button id="add-term-and-condition-btn" type="button" class="btn btn-default" onclick="addTermAndCondition(0,1)">
								<i class="fa fa-plus-circle"></i>
								&nbsp;Agregar termino y condici贸n
							</button>	
						</div>	
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<button  type="button" class="btn btn-default  btn-lg i-popup-close">Cerrar</button>
								<button id="terms-and-conditions-btn" type="submit" class="btn btn-success  btn-lg ">
									Guardar<i id="terms-and-conditions-btn-ico"></i>
								</button>								
							</div>
						</div>
					</div>
				</fieldset>
				<input type="hidden" name="id-git-terms-and-conditions" value="0">
			</form>
		</div>

		<div  id="associate-pos-popup" class="i-popup-panel i-popup-primary hidden">  
			<div class="row center">
				<div class="col-md-12">
					<div id="associate-pos-notification"></div>
				</div>
			</div> 			
			<div class="row">
				<div class="col-md-12 page-header">
					<h2 >Puntos de venta</h2>    			
				</div>
				<p>Asociar regalo a puntos de venta</p>		
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="associate-pos-cover"></div>
				</div>
				<div class="col-md-2 pull-right">
					<div class="form-group ">
						<button type="button" class="btn btn-default btn-lg btn-block i-popup-close">Cerrar</button>
					</div>
				</div>   
			</div>
		</div>

			<script>
		//atributtes
		var createGiftPopup = new Popup(document.getElementById('create-gift-popup'));		
		var associatePOSNotification = new Alert(document.getElementById('associate-pos-notification'));
		var typeGiftView = sessionStorage.getItem('type-gift-view');
		var giftType,giftStatus,actionType ;
		var OTHER_TYPE_ACTION = 14;
		var OTHER_TYPE_GIFT = 24;
		var ASSOCIATE_POS_COVER_USE_CASE = 1;
		var CREATE_GIFT_COVER_USE_CASE = 0;
		var nameGiftTitle = document.getElementById('name-gift-title');
		//init
		init();	
        //functions
        function init(){

	  	 if(typeGiftView>0){//Adminstrar gift
	  	 	loadGift();
			 }else{//Crear gift 	
			 	openCreateGiftPopup();
			 }
			}


			function initPOS(){
				var associatePOSPopup = new Popup(document.getElementById('associate-pos-popup'));
				
				document.getElementById('associate-pos-btn').onclick = function(){
					var coverCheckPos = document.getElementById('associate-pos-cover');
					var associatePOSBtn = document.getElementById('associate-pos-btn');
					var associatePOSBtnIcon = document.getElementById('associate-pos-btn-icon');
					var loadPOSXHR = new XHR('GET','/loadPOSByGift?id='+typeGiftView);
					loadPOSXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
					loadPOSXHR.onBeforeSend(function(){
						associatePOSBtn.disabled = true;
						associatePOSBtnIcon.className = 'fa fa-spinner fa-spin';		    		
					});
					loadPOSXHR.onReady(function (xhr) {   
						associatePOSBtn.disabled = false;
						associatePOSBtnIcon.className = 'fa fa-file-text-o fa-fw';		
						try {
							var pos = JSON.parse(xhr.responseText);		  
							coverCheckPos.innerHTML = '';    		
							fillCoverCheckPos(coverCheckPos,'associate-pos',pos,ASSOCIATE_POS_COVER_USE_CASE);		    			
							associatePOSPopup.show();
						} catch (ex) {		
							console.log(ex);
							associatePOSNotification.danger(xhr.responseText);
						}
					});
					loadPOSXHR.send();
				}   
			}

			function initTermsAndConditions(){				
				/*document.getElementById('terms-and-conditions-btn-open').onclick = function(){
					loadTermnsAndConditions();                     
				}*/
			}

			function loadTermnsAndConditions(){
				if(typeGiftView>0){				
					var termsAndConditionsPopup = new Popup(document.getElementById('terms-and-conditions-popup'));
					var termsAndConditionsBtn = document.getElementById('terms-and-conditions-btn-open');
					var termsAndConditionsBtnIcon = document.getElementById('terms-and-conditions-btn-ico-open');
					var loadTermsAndConditionsXHR = new XHR('GET','/loadTermsAndConditionGift?id='+typeGiftView);						
					loadTermsAndConditionsXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
					loadTermsAndConditionsXHR.onBeforeSend(function(){
						termsAndConditionsBtn.disabled = true;
						termsAndConditionsBtnIcon.className = 'fa fa-spinner fa-spin';
					});
					loadTermsAndConditionsXHR.onReady(function (xhr) {  
						termsAndConditionsBtn.disabled = false;
						termsAndConditionsBtnIcon.className = 'fa fa-file-text-o fa-fw'; 
						try{
							var t = JSON.parse(xhr.responseText);
							fillTermsAndConditions(t);
							termsAndConditionsPopup.show();
						}catch (ex) {	      
							console.log(ex);
							notification.danger(xhr.responseText);
						}
					});
					loadTermsAndConditionsXHR.send();		
				}
				var termsAndConditionsForm = new Form(document.getElementById('terms-and-conditions-form'));
				termsAndConditionsForm.onsubmit(function(){
					document.getElementsByName('id-git-terms-and-conditions')[0].value = typeGiftView;	
					var termsAndConditionsSaveBtn =	document.getElementById('terms-and-conditions-btn');			
					var termsAndConditionsSaveBtnIcon = document.getElementById('terms-and-conditions-btn-ico');
					var termsAndConditionsxHR = new XHR('POST','/saveTermnsAndConditions');
					termsAndConditionsxHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
					termsAndConditionsxHR.onBeforeSend(function(){
						termsAndConditionsSaveBtn.disabled = true;
						termsAndConditionsSaveBtnIcon.className = 'fa fa-spinner fa-spin';
					});
					termsAndConditionsxHR.onReady(function (xhr) {   
						termsAndConditionsSaveBtn.disabled = false;
						termsAndConditionsSaveBtnIcon.className = '';
						if(xhr.responseText === SUCCESS_RESPONSE){                                 
							termsAndConditionsPopup.closeAll();
							notification.success('Terminos y condiciones guardados exitosamente!');							
						}else{
							notification.danger(xhr.responseText);
							termsAndConditionsPopup.closeAll();
						}
					});
					termsAndConditionsxHR.send(termsAndConditionsForm.serialize());
				});
}

function initPictureAction(){
	document.getElementById('picture-action-upload').onclick = function (e) {
		e.preventDefault();
		document.getElementById('picture-action-select').click();
	}
	        //trigger event picture upload
	        document.getElementById('picture-action-select').onchange = function (e) {
	        	handlePictureActionSelect(e);
	        }
	    }

	    function initUpdateGift(){
	    	var giftForm = new Form(document.getElementById('gift-form'));
	    	giftForm.onsubmit(function(){
	    		if(giftForm.isValid()){
	    			var giftBtn = document.getElementById('gift-Btn');
	    			var giftBtnIcon = document.getElementById('gift-btn-ico');
	    			var giftXHR = new XHR('POST','/updateGift');
	    			giftXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
	    			giftXHR.onBeforeSend(function(){
	    				giftBtn.disabled = true;
	    				giftBtnIcon.className = 'fa fa-spinner fa-spin';
	    			});
	    			giftXHR.onReady(function (xhr) {   
	    				giftBtn.disabled = false;
	    				giftBtnIcon.className = '';			
	    				try {
	    					var gift = JSON.parse(xhr.responseText);                     
	    					nameGiftTitle.textContent = gift.name;                 
	    					notification.success('El regalo se guardo exitosamente!');				
	    				} catch (ex) {	  
	    					console.log(ex);          	    					
	    					notification.danger(xhr.responseText);
	    				}
	    			});
	    			giftXHR.send(giftForm.serialize());
	    		}
	    	});
}

function handlePictureActionSelect(e) {
	var picture = e.target.files[0];
	if (picture.type.match('image.*')) {
		if (picture.size <= 65535) {
			var formData = new FormData();
			formData.append('picture', picture);
			formData.append('id-picture-action', document.getElementsByName('id-picture-action')[0].value);
			formData.append('id-action', document.getElementsByName('id-action')[0].value);
			var uploadPictureActionXHR = new XHR('POST','/uploadpictureAction');
			var icon = document.getElementById('picture-action-icon');
			var btn =  document.getElementById('picture-action-upload');
			uploadPictureActionXHR.onBeforeSend(function () {
				btn.disabled = true;
				icon.className = 'fa fa-spinner fa-spin';
			});
			uploadPictureActionXHR.onReady(function (xhr) {
				btn.disabled = false;
				icon.className = 'fa fa-upload fa-fw';
				var response = xhr.responseText;
				if (response === SUCCESS_RESPONSE) {
					var reader = new FileReader();
					reader.onload = (function (theFile) {
						return function (evt) {
							document.getElementById('picture-action-img').src = evt.target.result;
						};
					})(picture);
					reader.readAsDataURL(picture);
					notification.success('La foto se guardo correctamente!');
				} else {
					notification.danger(response);
				}
			});
			uploadPictureActionXHR.send(formData);
		} else {
			notification.danger('La imagen no puede ser mayor que 64KB, intente con una imagen mas peque馻');    			
		}
	} else {    		
		notification.danger('Seleccione una imagen v谩lida');
	}
}
function initPictureGift(){
	document.getElementById('picture-gift-upload').onclick = function (e) {
		e.preventDefault();
		document.getElementById('picture-gift-select').click();
	}
	        //trigger event picture upload
	        document.getElementById('picture-gift-select').onchange = function (e) {
	        	handlePictureGiftSelect(e);
	        }
	    }
	    function handlePictureGiftSelect(e) {
	    	var picture = e.target.files[0];
	    	if (picture.type.match('image.*')) {
	    		if (picture.size <= 65535) {
	    			var formData = new FormData();
	    			formData.append('picture', picture);
	    			formData.append('id-picture-gift', document.getElementsByName('id-picture-gift')[0].value);
	    			formData.append('id-gift', document.getElementsByName('id-gift')[0].value);
	    			var uploadPictureGiftXHR = new XHR('POST','/uploadpictureGift');
	    			var icon = document.getElementById('picture-gift-icon');
	    			var btn =  document.getElementById('picture-gift-upload');
	    			uploadPictureGiftXHR.onBeforeSend(function () {
	    				btn.disabled = true;
	    				icon.className = 'fa fa-spinner fa-spin';
	    			});
	    			uploadPictureGiftXHR.onReady(function (xhr) {
	    				btn.disabled = false;
	    				icon.className = 'fa fa-upload fa-fw';
	    				var response = xhr.responseText;
	    				if (response === SUCCESS_RESPONSE) {
	    					var reader = new FileReader();
	    					reader.onload = (function (theFile) {
	    						return function (evt) {
	    							document.getElementById('picture-gift-img').src = evt.target.result;
	    						};
	    					})(picture);
	    					reader.readAsDataURL(picture);
	    					notification.success('La foto se guardo correctamente!');
	    				} else {
	    					notification.danger(response);
	    				}
	    			});
	    			uploadPictureGiftXHR.send(formData);
	    		} else {
	    			notification.danger('La imagen no puede ser mayor que 64KB, intente con una imagen mas peque馻');    			
	    		}
	    	} else {    		
	    		notification.danger('Seleccione una imagen v谩lida');
	    	}
	    }



	    function openCreateGiftPopup(){
	    	var coverCheckPos = document.getElementById('cover-check-pos');
	    	var createGiftFormXHR = new XHR('GET','/loadPOSByBusiness');
	    	createGiftFormXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
	    	createGiftFormXHR.onBeforeSend(function(){
	    		coverCheckPos.innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
	    	});
	    	createGiftFormXHR.onReady(function (xhr) {   
	    		try {
	    			var pos = JSON.parse(xhr.responseText); 					
	    			coverCheckPos.innerHTML = '';  
	    			fillCoverCheckPos(coverCheckPos,'id-pos',pos,CREATE_GIFT_COVER_USE_CASE);
	    			createGift();
	    			createGiftPopup.show();
	    		} catch (ex) {	
	    			console.log(ex);		
	    			coverCheckPos.innerHTML = '<a href="/POS" onclick="newPOS()">No hay puntos de ventas, clic para comenzar</a>';
	    		}
	    	});
	    	createGiftFormXHR.send();	
	    }
	    function createGift(){
	    	var createGiftForm = new Form(document.getElementById('create-gift-form'));
	    	createGiftForm.onsubmit(function(){
	    		if(createGiftForm.isValid()){
	    			var createGiftBtn = document.getElementById('create-gift-btn');
	    			var createGiftBtnIcon = document.getElementById('create-gift-btn-ico');
	    			var createGiftFormXHR = new XHR('POST','/createGift');
	    			createGiftFormXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
	    			createGiftFormXHR.onBeforeSend(function(){
	    				createGiftBtn.disabled = true;
	    				createGiftBtnIcon.className = 'fa fa-spinner fa-spin';
	    			});
	    			createGiftFormXHR.onReady(function (xhr) {   
	    				if(xhr.responseText >0){                                 
						//load data by this gift						
						typeGiftView = xhr.responseText;
						sessionStorage.setItem('type-gift-view',typeGiftView);
						createGiftPopup.closeAll();
						loadGift();
					}else{
						createGiftBtn.disabled = false;
						createGiftBtnIcon.className = '';
						var msg = document.getElementById('create-gift-popup-msg');			
						msg.textContent = xhr.responseText;
						if(msg.classList.contains('hidden')){
							msg.classList.remove('hidden');
						}
					}
				});
	    			createGiftFormXHR.send(createGiftForm.serialize());				
	    		}
	    	});
}

function loadGift(){
	if(typeGiftView>0){				
		var loadGiftFormXHR = new XHR('GET','/loadGift?id='+typeGiftView);
		loadGiftFormXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
		loadGiftFormXHR.onBeforeSend(function(){
			nameGiftTitle.textContent = 'Cargando...';
		});
		loadGiftFormXHR.onReady(function (xhr) {   
			try{
				var gift = JSON.parse(xhr.responseText);
				initList(gift.type.id,gift.otherType,gift.status.id,gift.action.type.id,gift.action.otherType);
				initUpdateGift()
				initPictureGift();
				initPictureAction();
				initPOS();
				initTermsAndConditions();
				fillImages(gift.pictures,gift.action.pictures);
				nameGiftTitle.textContent = gift.name;			
				document.getElementsByName('id-gift')[0].value = typeGiftView;
				document.getElementsByName('name-gift')[0].value = gift.name;
				document.getElementsByName('price-gift')[0].value = gift.price;
				document.getElementsByName('start-date-gift')[0].value = gift.formatStartDate;
				document.getElementsByName('end-date-gift')[0].value = gift.formatExpirtationtDate;
				document.getElementsByName('description-gift')[0].value = gift.description;			
				document.getElementsByName('name-action')[0].value =  gift.action.name;			
				document.getElementsByName('price-action')[0].value = gift.action.price;
				document.getElementsByName('description-action')[0].value = gift.action.description;
				document.getElementsByName('id-action')[0].value = gift.action.id;
				document.getElementsByName('termsConditions-gift')[0].value = gift.termsConditions;
			}catch (ex) {	         
				console.log(ex);
				notification.danger(xhr.responseText);
			}
		});
loadGiftFormXHR.send();		
}
}

function initList(giftTypeId,otherTypeGiftStr,giftStatusId,actionTypeId,otherTypeActionStr){
		//gift type list
		giftType = new Select(document.getElementById('gift-type-list'),'/giftTypeList',function(){
			giftType.selectItem(giftTypeId);
			if(giftType.getOption()==OTHER_TYPE_GIFT){
				var otherGiftType = document.getElementsByName('other-gift-type')[0];
				otherGiftType.classList.remove('hidden');
				otherGiftType.value = otherTypeGiftStr;
			}
		});
		//gift status
		giftStatus = new Select(document.getElementById('gift-status-list'),'/giftStatusList',function(){
			giftStatus.selectItem(giftStatusId);
		});
		//action type list
		actionType = new Select(document.getElementById('action-type-list'),'/actionTypeList',function(){
			actionType.selectItem(actionTypeId)
			if(actionType.getOption()==OTHER_TYPE_ACTION){
				var otherActionType = document.getElementsByName('other-action-type')[0];
				otherActionType.classList.remove('hidden');
				otherActionType.value = otherTypeActionStr;
			}			
		});
		//select other type gift
		giftType.onchange(function(){    
		    if(giftType.getOption()==OTHER_TYPE_GIFT){//other type
		    	var otherGiftType = document.getElementById('other-gift-type');
		    	if(otherGiftType.classList.contains('hidden')){
		    		otherGiftType.classList.remove('hidden');
		    		otherGiftType.classList.add('show');
		    	} 
		    }else{
		    	var otherGiftType = document.getElementById('other-gift-type');
		    	if(otherGiftType.classList.contains('show')){
		    		otherGiftType.classList.remove('show');
		    		otherGiftType.classList.add('hidden');
		    	} 
		    }
		});
		//select other type action
		actionType.onchange(function(){    
		    if(actionType.getOption()==OTHER_TYPE_ACTION){//other type
		    	var otherActionType = document.getElementById('other-action-type');
		    	if(otherActionType.classList.contains('hidden')){
		    		otherActionType.classList.remove('hidden');
		    		otherActionType.classList.add('show');
		    	} 
		    }else{
		    	var otherActionType = document.getElementById('other-action-type');
		    	if(otherActionType.classList.contains('show')){
		    		otherActionType.classList.remove('show');
		    		otherActionType.classList.add('hidden');
		    	} 
		    }
		});
	}

	function fillImages(picturesGift,picturesAction){
		if(picturesGift!=null){
			createImage(picturesGift,'id-picture-gift','picture-gift-img');
		}
		if(picturesAction!=null){
			createImage(picturesAction,'id-picture-action','picture-action-img');
		}      
	}
	function createImage(pictures,idPictureStr,idImgStr){
		var m = pictures.length;
		if(m>0){          
			var j = 0;
			var found = false;
			do{
				var pic = pictures[j];
				if(pic.main){	            
					document.getElementsByName(idPictureStr)[0].value = pic.id;
					document.getElementById(idImgStr).src = pic.dataURI;
					found = true;
				}
				j++;
			}while(!found && j<m);
		} 	     
	}

	function fillCoverCheckPos(element,name,pos,useCase){
		var n = pos.length;		
		for (var i = 0; i < n; i++) {
			var p = pos[i];
			var idElelement = useCase ===CREATE_GIFT_COVER_USE_CASE ? 'cover-check-gift-'+p.id : 'cover-check-associate-gift-'+p.id;
				//ul
				var ul = document.createElement('ul');
		        //li
		        var li = document.createElement('li');
		        li.textContent = p.location.address.address;
		        ul.appendChild(li);
		        li = document.createElement('li');
		        li.textContent = p.location.phone.number;
		        ul.appendChild(li);
		        li = document.createElement('li');
		        li.textContent = p.contact.name;
		        ul.appendChild(li);
				//cover check body
				var coverCheckBody = document.createElement('div');
				coverCheckBody.classList.add('cover-check-body');
				coverCheckBody.appendChild(ul); 
				//cover check header
				var coverCheckHeader = document.createElement('div');
				coverCheckHeader.classList.add('cover-check-header');
				coverCheckHeader.textContent = p.name;
		       //label
		       var label = document.createElement('label');
		       label.setAttribute('for',idElelement);
		       label.appendChild(coverCheckHeader);
		       label.appendChild(coverCheckBody);
		       //input
		       var input = document.createElement('input');
		       input.type = 'checkbox';
		       input.id = idElelement;
		       input.dataset.id = p.id;
		       switch(useCase){
		       	case CREATE_GIFT_COVER_USE_CASE:
		       	input.name = name;
		       	input.value = 0;			       
		       	input.onclick = function(){
		       		if(this.checked){
		       			this.value = this.dataset.id;
		       		}else{
		       			this.value = 0;
		       		}
		       	}
		       	break;
		       	case ASSOCIATE_POS_COVER_USE_CASE:
		       	input.checked = p.gift!=null;
		       	input.onclick = function(){						
		       		var idPOS = this.dataset.id;
		       		var idGift = typeGiftView;
		       		var actionXHR = null;
		       		var msg = null;						
		       		if(this.checked){			       	  	    
		       			actionXHR = new XHR('GET','/associateGifToPOS?idPos='+idPOS+'&idGift='+idGift);
		       			msg = "Se Asocio el regalo al punto de venta";
		       		}else{
		       			actionXHR = new XHR('GET','/removeGiftOfPOS?idPos='+idPOS+'&idGift='+idGift);
		       			msg = "Se elimino el regalo del punto de venta";
		       		}
		       		actionXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
		       		actionXHR.onReady(function (xhr) {   					    		
		       			if(xhr.responseText== SUCCESS_RESPONSE){
		       				associatePOSNotification.success(msg);
		       			}else{
		       				associatePOSNotification.danger(xhr.responseText);
		       			}			    			
		       		});
		       		actionXHR.send();
		       	}
		       	break;

		       }
		       //span
		       var span = document.createElement('span');
		       span.classList.add('i-checkbox');
		       span.classList.add('i-checkbox-toolbar');
		       span.classList.add('i-checkbox-right');
		       span.classList.add('i-checkbox');
		       span.classList.add('i-checkbox-toolbar-default');
		       span.appendChild(input);
		       span.appendChild(label);
		       //group
		       var group = document.createElement('div');
		       group.classList.add('form-group');
		       group.classList.add('i-checkbox-horizontal');
		       group.classList.add('cover-check');
		       group.classList.add('cover-check-gift');
		       group.appendChild(span);
		       //colunm
		       var col = document.createElement('div');
		       col.classList.add('col-lg-2');
		       col.classList.add('col-md-2');
		       col.classList.add('col-sm-4')
		       col.appendChild(group);		      
		       //element
		       element.appendChild(col);
		   }		   
		    //small		       
		    var msg = document.createElement('small');
		    msg.classList.add('i-form-error-msg');
		    msg.classList.add('text-danger');
		    msg.classList.add('hidden');
		    msg.id = 'create-gift-popup-msg';
		    msg.textContent = 'seleccion como m铆nimo un punto de venta';
		    //columns
		    var col = document.createElement('div');
		    col.classList.add('col-md-12');
		    col.appendChild(msg);
		    //row
		    var row = document.createElement('div');
		    row.classList.add('row');
		    row.appendChild(col);		    
		    element.appendChild(row);
		}

		function addTermAndCondition(id,description,content){		        	
			//icon
			var icon = document.createElement('i');
			icon.className = 'fa fa-trash-o fa-fw';
			//link
			var a = document.createElement('a');
			a.href="#";
			a.appendChild(icon);
			a.appendChild(document.createTextNode("  Eliminar"));
			a.dataset.id = id;
			a.onclick = function(e){
				e.preventDefault();
				var id = this.dataset.id;
				if(id>0){
					var icon = this.getElementsByClassName('fa-trash-o')[0];
					var deleteGiftFormXHR = new XHR('GET','/deleteTermAndCondition?id='+id);
					var termsAndConditionsNotification = new Alert(document.getElementById('terms-and-condition-notification'));
					deleteGiftFormXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
					deleteGiftFormXHR.onBeforeSend(function(){			    		
						icon.className = 'fa fa-spinner fa-spin';			    		
					});
					deleteGiftFormXHR.onReady(function (xhr) {   
						icon.className = 'fa fa-trash-o fa-fw';
						if(xhr.responseText== SUCCESS_RESPONSE){
							document.getElementById('term-and-condition-panel-'+id).remove();
						}else{
							termsAndConditionsNotification.danger(xhr.responseText);
						}			    			
					});
					deleteGiftFormXHR.send();	
				}else{
					document.getElementById('term-and-condition-panel-'+id).remove();
				}
			}
			//panel footer
			var panelFooter = document.createElement('div');
			panelFooter.className = 'panel-footer';
			panelFooter.appendChild(a);
			//textarea
			textArea = document.createElement('textArea');
			textArea.classList.add('form-control');
			textArea.placeholder = 'Nuevo termino y condici贸n';
			textArea.name = 'term-and-condition-txt'
			textArea.dataset.required = true;
			textArea.rows = 1;
			if(description){
				textArea.value = description;
			}
			//input hidden
			var input = document.createElement('input');
			input.type = 'hidden';
			input.name = 'id-term-and-condition';
			input.value = id;
			//panel default
			var panel = document.createElement('div');
			panel.id = "term-and-condition-panel-"+id;
			panel.className = 'panel panel-default';
			panel.appendChild(textArea);
			panel.appendChild(input);
			panel.appendChild(panelFooter);
			//content
			if(!content){
				var content = document.getElementById('content-terms-and-conditions');
				var x = content.querySelectorAll('textarea');
				if(x.length<=0)content.innerHTML = '';							
			}
			content.appendChild(panel);
		}


		function fillTermsAndConditions(termAndConditionList){
			var n = termAndConditionList.length;
			if(n>0){
				var content = document.getElementById('content-terms-and-conditions');
				content.innerHTML = '';
				for (var i = 0; i < n; i++) {
					var t = termAndConditionList[i];
					addTermAndCondition(t.id,t.description);
				}
			}
		}		

		</script>
	}


