@import resources._
@nav(titlePage = "Regalo"){
<div class="row row-centered">            
	<div class="header-page">
		<h2 class="text-left" id="name-gift-title"></h2> 	  
	</div>	
	<div class="col-md-9 col-centered">
		<div class="row">
			<div class="col-md-12 ">				
				<div class="btn-group btn-group-lg pull-right" >
					<button class="btn btn-default btn-lg" id="terms-and-conditions">
						<i class="fa fa-file-text-o fa-fw"></i>&nbsp; Terminos y condiciones
					</button>
					<button class="btn btn-default btn-lg" id="pos-list">
						<i class="fa fa-cart-plus fa-fw"></i>&nbsp; Agregar a puntos de venta
					</button>
				</div>
			</div>
		</div><br>
		<div class="row">
			<div class="col-md-6">
				<form id="picture-gift-form" class="form-horizontal form-picture">
					<div class="form-group">
						<div class="col-md-12">
							<ul class="list-group text-center">
								<li id="content-img-gift" class="list-group-item content-img">
									<img src="@routes.Assets.at("images/gift/gift.png")"/>
								</li>
								<li >
									<button id="picture-gift-upload" class="btn list-group-item" ><i class="fa fa-upload fa-fw"></i>&nbsp; Imagen de regalo</button>
								</li>
							</ul>
						</div>
					</div>
					<input type="file" accept="image/*" id="picture-gift-select" name="picture" class="hidden" />
				</form>
			</div>
			<div class="col-md-6">
				<form id="picture-action-form" class="form-horizontal form-picture">
					<div class="form-group">
						<div class="col-md-12">
							<ul class="list-group text-center">
								<li id="content-img-action" class="list-group-item content-img">
									<img src="@routes.Assets.at("images/gift/action.png")"/>
								</li>
								<li >
									<button id="picture-action-upload" class="btn list-group-item" href="#picture-action-upload"><i class="fa fa-upload fa-fw"></i>&nbsp; Imagen de la acción</button>
								</li>
							</ul>
						</div>
					</div>
					<input type="file" accept="image/*" id="picture-action-select" name="picture" class="hidden" />
				</form>
			</div>
		</div>
		<div class="row">
			<form id="gift-form" class="form-horizontal">
				<fieldset class="col-md-6">
					<legend>Datos del regalo</legend>			
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="name-gift"  data-required="true" placeholder="Nombre regalo">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback"> 
							<div id="gift-type-list" data-required="true" data-name="gift-type" class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div id="other-gift-type" class="col-md-12 hidden">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="other-gift-type"  placeholder="Cual ?">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="price-gift"  data-required="true" data-money="true" placeholder="Valor Comercial">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="start-date-gift" data-required="true" data-date="dd-mm-yyyy" placeholder="Fecha inicio (dd-mm-yyyy)">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="end-date-gift" data-required="true" data-date="dd-mm-yyyy" placeholder="Fecha finalización (dd-mm-yyyy)">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<textarea name="description-gift" class="form-control" rows="4" placeholder="Descripción del regalo" data-required="true"></textarea>
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback"> 
							<div id="gift-status-list" data-name="gift-status" data-required="true"  class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback"> 
							<div id="gift-status-list" data-required="true" data-name="gift-status" class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
				</fieldset>
				<fieldset class="col-md-6">
					<legend>Datos de la acción</legend>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="name-action"  data-required="true" placeholder="Nombre Acción">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback"> 
							<div id="action-type-list" data-required="true" data-name="action-type" class="i-select i-select-lg i-select-dafault"></div>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div id="other-action-type" class="col-md-12 hidden">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="other-action-type"  placeholder="Cual ?">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<input type="text" class="form-control input-lg" name="price-action"  data-required="true" data-money="true" placeholder="Valor Comercial">
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group has-feedback">
							<textarea name="description-action" class="form-control" rows="4" placeholder="Descripción de la acción" data-required="true"></textarea>
							<span class="form-control-feedback"></span>
							<small class="i-form-error-msg text-danger hidden">Este campo es requerido!</small>
						</div>
					</div>
				</fieldset>
				<div class="col-md-12 ">
					<div class="form-group">
						<button id="gift-Btn" type="submit" class="btn btn-success btn-lg btn-block">Guardar
							<i id="gift-btn-ico"></i></button>
						</div>
					</div>    
					<input type="hidden" id="id-gift" name="id-gift"  value="0">
					<input type="hidden" id="id-action" name="id-action" value="0">
					<input type="hidden" id="id-pos-list" name="id-pos-list" value="0">
				</form>
			</div>
		</div>
	</div>
	<div>
		<div  id="create-gift-popup" class="i-popup-panel i-popup-primary hidden">   			
			<h2 >Crear regalo</h2>    
			<p>Para empezar debes seleccionar mínimo un punto de venta para ofrecer el regalo.</p>								
			<div>
				<form id="create-gift-form" class="form-horizontal">
					<fieldset>
						<legend>Puntos de venta</legend>						
						<div id="cover-check-pos" class="i-group-checkbox has-feedback" data-checkmin="1"></div>
					</fieldset>
					<button id="create-gift-btn" type="submit" class="btn btn-primary btn-lg pull-right">Continuar
						<i id="create-gift-btn-ico"></i></button>
					</form>
				</div>
			</div>
			<script>
		//atributtes
		var createGiftPopup = new Popup(document.getElementById('create-gift-popup'));		
		var typeGiftView = sessionStorage.getItem('type-gift-view');
		var giftType,giftStatus,actionType ;
		var OTHER_TYPE_ACTION = 14;
		var OTHER_TYPE_GIFT = 24;
		var nameGiftTitle = document.getElementById('name-gift-title');
		//init
		init();	
        //functions
        function init(){
		  	 if(typeGiftView>0){//Adminstrar gift
		  	 	loadGift();

		 }else{//Crear gift 	
		 	openCreateGiftPopup();
		 }
		}

		function openCreateGiftPopup(){
			var coverCheckPos = document.getElementById('cover-check-pos');
			var createGiftFormXHR = new XHR('GET','/loadPOSByBusiness');
			createGiftFormXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
			createGiftFormXHR.onBeforeSend(function(){
				coverCheckPos.innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
			});
			createGiftFormXHR.onReady(function (xhr) {   
				try {
					var pos = JSON.parse(xhr.responseText); 					
					coverCheckPos.innerHTML = '';  
					fillCoverCheckPos(coverCheckPos,'id-pos',pos);
					createGift();
					createGiftPopup.show();
				} catch (e) {			
					console.log(e)
					coverCheckPos.innerHTML = '<a href="/POS" onclick="newPOS()">No hay puntos de ventas, clic para comenzar</a>';
				}
			});
			createGiftFormXHR.send();	
		}

		function createGift(){
			var createGiftForm = new Form(document.getElementById('create-gift-form'));
			createGiftForm.onsubmit(function(){
				if(createGiftForm.isValid()){
					var createGiftBtn = document.getElementById('create-gift-btn');
					var createGiftBtnIcon = document.getElementById('create-gift-btn-ico');
					var createGiftFormXHR = new XHR('POST','/createGift');
					createGiftFormXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
					createGiftFormXHR.onBeforeSend(function(){
						createGiftBtn.disabled = true;
						createGiftBtnIcon.className = 'fa fa-spinner fa-spin';
					});
					createGiftFormXHR.onReady(function (xhr) {   
						if(xhr.responseText >0){                                 
						//load data by this gift						
						typeGiftView = xhr.responseText;
						createGiftPopup.closeAll();
						loadGift();
					}else{
						var msg = document.getElementById('create-gift-popup-msg');			
						msg.textContent = xhr.responseText;
						if(msg.classList.contains('hidden')){
							msg.classList.remove('hidden');
						}
					}
				});
					createGiftFormXHR.send(createGiftForm.serialize());				
				}
			});
}

function loadGift(){
	if(typeGiftView>0){				
		var loadGiftFormXHR = new XHR('GET','/loadGift?id='+typeGiftView);
		loadGiftFormXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
		loadGiftFormXHR.onBeforeSend(function(){
			nameGiftTitle.textContent = 'Cargando...';
		});
		loadGiftFormXHR.onReady(function (xhr) {   
			var gift = JSON.parse(xhr.responseText);
			initList(gift.type.id,gift.otherType,gift.status.id,gift.action.type.id,gift.action.otherType);
			fillImages();
			nameGiftTitle.textContent = gift.name;
			document.getElementsByName('name-gift')[0].value = gift.name;
			document.getElementsByName('price-gift')[0].value = gift.price;
			document.getElementsByName('start-date-gift')[0].value = gift.startDate;
			document.getElementsByName('end-date-gift')[0].value = gift.expirationDate;
			document.getElementsByName('description-gift')[0].value = gift.description;			
			document.getElementsByName('name-action')[0].value =  gift.action.name;			
			document.getElementsByName('price-action')[0].value = gift.action.price;
			document.getElementsByName('description-action')[0].value = gift.action.description;
		});
		loadGiftFormXHR.send();		
	}
}

function initList(giftTypeId,otherTypeGiftStr,giftStatusId,actionTypeId,otherTypeActionStr){
		//gift type list
		giftType = new Select(document.getElementById('gift-type-list'),'/giftTypeList',function(){
			giftType.selectItem(giftTypeId);
			if(giftType.getOption()==OTHER_TYPE_GIFT){
				var otherGiftType = document.getElementsByName('other-gift-type')[0];
				otherGiftType.classList.remove('hidden');
				otherGiftType.value = otherTypeGiftStr;
			}
		});
		//gift status
		giftStatus = new Select(document.getElementById('gift-status-list'),'/giftStatusList',function(){
			giftStatus.selectItem(giftStatusId);
		});
		//action type list
		actionType = new Select(document.getElementById('action-type-list'),'/actionTypeList',function(){
			actionType.selectItem(actionTypeId)
			if(actionType.getOption()==OTHER_TYPE_ACTION){
				var otherActionType = document.getElementsByName('other-action-type')[0];
				otherActionType.classList.remove('hidden');
				otherActionType.value = otherTypeActionStr;
			}			
		});
		//select other type gift
		giftType.onchange(function(){    
		    if(giftType.getOption()==OTHER_TYPE_GIFT){//other type
		    	var otherGiftType = document.getElementById('other-gift-type');
		    	if(otherGiftType.classList.contains('hidden')){
		    		otherGiftType.classList.remove('hidden');
		    		otherGiftType.classList.add('show');
		    	} 
		    }else{
		    	var otherGiftType = document.getElementById('other-gift-type');
		    	if(otherGiftType.classList.contains('show')){
		    		otherGiftType.classList.remove('show');
		    		otherGiftType.classList.add('hidden');
		    	} 
		    }
		});
		//select other type action
		actionType.onchange(function(){    
		    if(actionType.getOption()==OTHER_TYPE_ACTION){//other type
		    	var otherActionType = document.getElementById('other-action-type');
		    	if(otherActionType.classList.contains('hidden')){
		    		otherActionType.classList.remove('hidden');
		    		otherActionType.classList.add('show');
		    	} 
		    }else{
		    	var otherActionType = document.getElementById('other-action-type');
		    	if(otherActionType.classList.contains('show')){
		    		otherActionType.classList.remove('show');
		    		otherActionType.classList.add('hidden');
		    	} 
		    }
		});
	}

	function fillImages(){

	}

	function fillCoverCheckPos(element,name,pos){
		var n = pos.length;
		for (var i = 0; i < n; i++) {
			var p = pos[i];
			var idElelement = 'cover-check-gift-'+p.id;
				//ul
				var ul = document.createElement('ul');
		        //li
		        var li = document.createElement('li');
		        li.textContent = p.location.address.address;
		        ul.appendChild(li);
		        li = document.createElement('li');
		        li.textContent = p.location.phone.number;
		        ul.appendChild(li);
		        li = document.createElement('li');
		        li.textContent = p.contact.name;
		        ul.appendChild(li);
				//cover check body
				var coverCheckBody = document.createElement('div');
				coverCheckBody.classList.add('cover-check-body');
				coverCheckBody.appendChild(ul); 
				//cover check header
				var coverCheckHeader = document.createElement('div');
				coverCheckHeader.classList.add('cover-check-header');
				coverCheckHeader.textContent = p.name;
		       //label
		       var label = document.createElement('label');
		       label.setAttribute('for',idElelement);
		       label.appendChild(coverCheckHeader);
		       label.appendChild(coverCheckBody);
		       //input
		       var input = document.createElement('input');
		       input.type = 'checkbox';
		       input.id = idElelement;
		       input.name = name;
		       input.value = p.id;
		       //span
		       var span = document.createElement('span');
		       span.classList.add('i-checkbox');
		       span.classList.add('i-checkbox-toolbar');
		       span.classList.add('i-checkbox-right');
		       span.classList.add('i-checkbox');
		       span.classList.add('i-checkbox-toolbar-default');
		       span.appendChild(input);
		       span.appendChild(label);
		       //group
		       var group = document.createElement('div');
		       group.classList.add('form-group');
		       group.classList.add('i-checkbox-horizontal');
		       group.classList.add('cover-check');
		       group.classList.add('cover-check-gift');
		       group.appendChild(span);
		       //colunm
		       var col = document.createElement('div');
		       col.classList.add('col-lg-2');
		       col.classList.add('col-md-2');
		       col.classList.add('col-sm-4')
		       col.appendChild(group);		      
		       //element
		       element.appendChild(col);
		   }		   
		    //small		       
		    var msg = document.createElement('small');
		    msg.classList.add('i-form-error-msg');
		    msg.classList.add('text-danger');
		    msg.classList.add('hidden');
		    msg.id = 'create-gift-popup-msg';
		    msg.textContent = 'seleccion como mínimo un punto de venta';
		    //columns
		    var col = document.createElement('div');
		    col.classList.add('col-md-12');
		    col.appendChild(msg);
		    //row
		    var row = document.createElement('div');
		    row.classList.add('row');
		    row.appendChild(col);		    
		    element.appendChild(row);
		}



		</script>
	}


