@import resources._
@main("Megift"){

<div id="landing-page" class="row bg-landing-page">
   <div class="bg-overlay">
	   <div class="col-md-12">
	      <div class="row">
	        <br/>
	        <div class="col-md-12 center">
	         <div id="alert"></div>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-md-12 logo">
	          <a href="#"><img src="@routes.Assets.at("images/logo.png")" alt="megift"/></a>
	        </div>
	      </div>
	      <br/>
	      <div class="row" id="main-text">	        
	        <div class="col-md-12 text-landing-page">
	          <p>&iexcl;Muy Pronto! Recibir&aacute;s regalos por hacer lo que m&aacute;s te gusta.</p>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-md-12 text-landing-page text-landing-page-small">
	          <p>Solicita tu invitaci&oacute;n para ser uno de los primeros en usar megift.</p>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-md-12">
	          <form id="frm-register" class="form-horizontal center">
				  <div class="form-group has-feedback">			    
				    <input type="text" name="user-name"	data-required="true"  class="form-control form-control-lg" placeholder="Nombre"/>
                    <span class="form-control-feedback"></span>
                    <h4  class="i-form-error-msg hidden"><span class="label label-primary ">El nombre es requerido</span></h4>
				  </div>
				  <div class="form-group has-feedback">			    
				    <input type="text" name="user-email" data-email="true" class="form-control form-control-lg" placeholder="Correo"/>
				      <span class="form-control-feedback"></span>
                      <h4 class="i-form-error-msg  hidden"><span class="label label-primary">Ingrese un correo electr&oacute;nico v&aacute;lido!</span></h4>
				  </div>				  
				  <div class="form-group ">
				   <button type="submit" id="btn-register" class="btn btn-danger btn-lg form-control"><i id="ico-register" class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;Solicitar Invitaci&oacute;n</button>
				  </div>
				</form>
	        </div>
	      </div>
	      <div  class="row">
	        <div id="counter-users" class="col-md-6 col-md-offset-3 text-landing-page text-landing-page-small">
	          <p><span id="total-users">1000</span>&nbsp;<i class="fa fa-users"></i></p>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-md-12">   
	            <form id="frm-social-media" class="form-inline center">        
		           <a href="https://twitter.com/megiftcolombia" target="_blank" class="btn btn-danger"><i class="fa fa-twitter"></i></a>
		           <a href="https://www.facebook.com/megiftcolombia" target="_blank"  class="btn btn-danger"><i class="fa fa-facebook" ></i></a>
		           <a href="http://instagram.com/megiftcolombia" target="_blank" class="btn btn-danger"><i class="fa fa-instagram"></i></a>
		           <a href="https://plus.google.com/+MegiftColombia/" target="_blank" class="btn btn-danger"><i class="fa fa-google-plus"></i></a>
		           <a href="https://www.youtube.com/channel/UC0N0S0-7QFeiHFafE-rdvLg" target="_blank" class="btn btn-danger"><i class="fa fa-youtube"></i></a>
		       </form>
	        </div>
	      </div>
	   </div>      
   </div>
</div>

 <div  id="popup-register-success" class="i-popup-panel i-popup-danger hidden">   
   <h1 class="text-primary">&iexcl;Felicitaciones!</h1>
   <h3 class="text-muted">Muy pronto Recibir&aacute;s una invitaci&oacute;n para descargar Megift en tu celular.
     Cu&eacute;ntale a tus amigos para que no pierdan esta oportunidad.</h3>     
     <div id="invite-friends-panel">
      <h3 class="text-primary">Invitar amigos de:</h3>      
       <div class="circle">         
                   <a href="oAuth?id=google" class="gmail" >Gmail</a>    
                   <a href="oAuth?id=hotmail" class="outlook" >Outlook</a>    
                   <a href="oAuth?id=yahoo" class="yahoo" >Yahoo</a>    
       </div>
       <p class="info">
         Si elegies un servicio, se abrir&aacute; una ventana para que inicies sesi&oacute;n de forma segura y envies
         una invitaci&oacute;n de megift a tus contactos. Solo encontrar&aacute;s los usuarios que hayan permitido buscar sus cuentas por direcci&oacute;n de correo
         electr&oacute;nico. No enviaremos mensajes de correo electr&oacute;nico a ninguna persona sin tu consentimiento.
       </p>
    </div>
   <button type="button" class="btn btn-danger btn-lg pull-right i-popup-close">Aceptar</button>
</div>
<script>
var animationTotalusers = new Animation('i-ease', 'i-tada', 'i-1s', 1000);
var frmRegister = new IForm(document.getElementById('frm-register'));
var popupRegister = new Popup(document.getElementById('popup-register-success'));
var btnRegister = document.getElementById('btn-register');
resize();
function resize(){
	var body = document.body,html = document.documentElement;
	var width = Math.max( body.scrollWidth, body.offsetWidth,html.clientWidth, html.scrollWidth, html.offsetWidth);
	var landingPage = document.getElementById('landing-page');
	if(width <= 1280){
		if(!landingPage.classList.contains('bg-landing-page-mobile')){
			landingPage.classList.add('bg-landing-page-mobile');			
		}
	}else{	
		if(landingPage.classList.contains('bg-landing-page-mobile')){
			landingPage.classList.remove('bg-landing-page-mobile');
		}	
	}
}
window.onresize = function(e) {
    resize();
};
//count user
var notifications = new IAlert(document.getElementById('alert'));
var countUserxHR = new XHR('GET','/countUsers');
countUserxHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
countUserxHR.onReady(function (xhr) {	
	document.getElementById('total-users').textContent = 1000 + parseInt(xhr.responseText);   
	animationTotalusers.run(document.getElementById('counter-users'));	
});
countUserxHR.send();
//register user
frmRegister.onsubmit(function(){
  if(frmRegister.isValid()){
		 var registerUserxHR = new XHR('POST','/registerUser');
		 registerUserxHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
		 registerUserxHR.onBeforeSend(function(){
		 		btnRegister.disabled = true;
				document.getElementById('ico-register').className = 'fa fa-spinner fa-spin';
		 })
		 registerUserxHR.onReady(function (xhr) {	
		 		btnRegister.disabled = false;
				document.getElementById('ico-register').className = 'fa fa-envelope-o fa-lg';
				if(xhr.responseText > 0){						
					popupRegister.show();
					var totalUser = document.getElementById('total-users');
					totalUser.textContent = 1000 + parseInt(xhr.responseText);
					animationTotalusers.run(document.getElementById('counter-users'));			
				}else{
					notifications.danger(xhr.responseText);
				}
			});
		 registerUserxHR.send(frmRegister.serialize());
  }	
});

</script>


}