@(title:String)(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Damos regalos a las personas por hacer lo que mas les guste.">
	<meta name="author" content="Yonatan Alexis Quintero Rodriguez | yonax73gmail.com ">
	<title>@title</title>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://cdn.rawgit.com/yonaxTics/inventor-js/master/public/stylesheets/inventor/megift/megift.min.css" rel="stylesheet" media="screen" >
	<link href="https://cdn.rawgit.com/yonaxTics/inventor-js/master/public/stylesheets/inventor/animations.min.css" rel="stylesheet" media="screen">
	<link href="@routes.Assets.at("stylesheets/main.min.css")" rel="stylesheet" media="screen" >
	<link href="@routes.Assets.at("images/favicon.png")" rel="shortcut icon" type="image/png" >
</head>
<script src="https://cdn.rawgit.com/yonaxTics/inventor-js/master/public/javascripts/inventor-js/Inventor.min.js"></script>
<script src="https://cdn.rawgit.com/yonaxTics/inventor-js/master/public/javascripts/inventor-js/InventorWeb.min.js"></script>
<body class="i-ease-in i-1s i-fade-in">
	<div class="i-popup-mask hidden"></div>
	<section class="container-fluid">@content</section>
	
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-59241791-1', 'auto');
	ga('send', 'pageview');

//attributes
var SUCCESS_RESPONSE = 'OK';
var notification = new Alert(document.getElementById('notification'));
//register business
function registerBusiness(){         	
	sessionStorage.setItem('type-business-view',0);
}
//new POS
function newPOS(){
	sessionStorage.setItem('type-POS-view',0);	
}
//new gift
function newGift(){
  sessionStorage.setItem('type-gift-view',0);		
}
//change value of checkbox element
function changeValueCheckbox(element){
	if(element.checked){
		element.value='on';
	}else{
		element.value='off';
	}
}

window.onload = function () {
    Toggle.init();        
}

document.onclick = function () {
    Toggle.clearDropDown();
    Select.clear();
}

function signOut(){
	localStorage.clear();
	sessionStorage.clear();
}

</script>
</body>

</html>