@import resources._
@main("Megift"){

<div class="row center">
	<br/>
	<div class="col-md-8 center"><div id="alert"></div></div>	          
	<div class="col-md-8">
		<form id="recovery-password-form" class="form-horizontal">
			<fieldset>
				<legend>Olvido su contrase&ntilde;a ?</legend>
				<label>Megift le enviar&aacute; a su cuenta de correo electr&oacute;nico las instrucciones para recuperar su contrase&ntilde;a.</label>
				<div class="form-group has-feedback">
					<div class="col-md-8">
						<input type="text" class="form-control input-lg" name="email-login" data-email="true" placeholder="Correo Electrónico">
						<span class="form-control-feedback"></span>
						<small class="i-form-error-msg text-danger hidden">Ingrese un correo electrónico válido!</small>
					</div>  
				</div>  
				<div class="col-md-8">
					<div class="form-group i-checkbox-horizontal">
						<span class="i-checkbox i-checkbox-toolbar i-checkbox-right i-checkbox-toolbar-default">
							<input type="checkbox" id="is-business" name="is-business" value="off" onclick="changeValueCheckbox(this)" >
							<label for="is-business">Soy empresa</label>
						</span>
					</div>
				</div>
				<div class="col-md-8 ">
					<div class="form-group">
						<button id="recovery-password-btn" type="submit" class="btn btn-primary btn-lg btn-block">Enviar  <i id="recovery-password-btn-ico"></i></button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>   
	<p>
		<a class="col-md-8" href="/login" >Ingresar.</a><br/> 
	</p>           	
</div>
<script>
var recoveryPasswordForm = new Form(document.getElementById('recovery-password-form'));
var recoveryPasswordBtn = document.getElementById('recovery-password-btn');
 //recovery password
 recoveryPasswordForm.onsubmit(function () {
 	if (recoveryPasswordForm.isValid()) { 
 		var recoveryPasswordXHR = new XHR('POST', '/passwordChangeRequest');
 		recoveryPasswordXHR.setContentType('application/x-www-form-urlencoded;charset=UTF-8');
 		recoveryPasswordXHR.onBeforeSend(function () {
 			recoveryPasswordBtn.disabled = true;
 			document.getElementById('recovery-password-btn-ico').className = 'fa fa-spinner fa-spin';
 		});
 		recoveryPasswordXHR.onReady(function (xhr) {
 			recoveryPasswordBtn.disabled = false;
 			document.getElementById('recovery-password-btn-ico').className = '';
 			if(xhr.responseText === SUCCESS_RESPONSE){                                 
 				notification.success('Te hemos enviado los pasos para recuperar tu contraseña a tu correo.');
 			}else{
 				notification.danger(xhr.responseText);
 			}
 		});
 		recoveryPasswordXHR.onError(function (xhr) {
 			recoveryPasswordBtn.disabled = false;
 			document.getElementById('recovery-password-btn-ico').className = '';
 			notification.danger(xhr.responseText);
 		});
 		recoveryPasswordXHR.send(recoveryPasswordForm.serialize());
 	}
 });
</script>


}